
@import "./normalize.css";

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 400;
}

.container {
    text-align: center;
    max-width: 1280px;
    font-family: 'Roboto';
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title-ramda {
    width: 334px;
    height: 79px;
    font-size: 80px;
    font-weight: 400;
}

.title__link {
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;  
}

.title__decoration {
    color: #4BCAFF;
}
    
.nav {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 38px;
    background: #35444F;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    margin: 0 -1px 0 0;
    padding: 26px 32px 19px 32px;
    transition: 500ms;
}

.nav__link:hover {
    background: #222F3A;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.sidebar {
    border: 1px solid black;
    margin-top: 48px;
    margin-bottom: 434px;
    
}

.sidebar__items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 26px 0 30px 44px;
    width: 342px;
    color: #495863;
    font-weight: 400;
    font-size: 27px;
    transition: 500ms;
}

.sidebar__items:hover {
    background: #DBDBDB;
    padding-left: 80px;
    color: black;
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    width: 885px;
}

.image-poster {
    display: flex;
    height: 529px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.image__centr {
    transition: 500ms;
}

.image__centr:hover {
    transform: scale(1.2);

}

.text__description {
    font-size: 18px;
    color: #2C2C2C;;
    text-align:left;
    margin-top: 37px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20 auto;
    margin: 54px 0 30px 0;
    background: rgba(99, 105, 110, 0.48);
}

.footer__items {
    display: flex;
    justify-content: space-between;
    width: 875px;
    margin: 20px 0 21px 40px;
}

.footer__link {
    text-align: center;
    font-weight: 400;
    font-size: 28px;
   }

.copyright {
    margin: 0 40px;
    font-weight: 400;
    font-size: 24px;
}

.footer__link:hover {
    text-decoration: underline;
    color: #3181A6;
    transition: 500ms;
}